body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
	height: 100vh;
}
.container{
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 50vh;
	width: 50%;
}

.path{
	display: flex;
	justify-content: space-around;
	width: 100%;
	animation: eating-path 0.5s linear infinite;
}

.path::before{
	content: "";
	background-color: #fff;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
}

@keyframes eating-path{
	0%{
		transform: translateX(50%);
	}
	100%{
		transform: translateX(-50%);
	}
}

.packman{
	position: relative;
	background: transparent;
	z-index:1;
}

.packman::before, .packman::after{
	content: "";
	position: absolute;
	top:-35px;
	display: block;
	border-radius: 50%;
	height: 0px;
	width: 0px;
}

.packman::before{
	animation: chunk-top 0.5s ease infinite;
	border:35px solid #ffcc00;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

@keyframes chunk-top{
	0%,100%{
		transform: rotate(-45deg);
	}
	50%{
		transform: rotate(-80deg);
	}
}

.packman::after{
	animation: chunk-bottom 0.5s ease infinite;
	border:35px solid #ffcc00;
	border-right-color: transparent;
	border-top-color: transparent;
}

@keyframes chunk-bottom{
	0%,100%{
		transform: rotate(-40deg);
	}
	50%{
		transform: rotate(0deg);
	}
}